{% extends 'base.html' %}
{% block title %}Применяемые технологии{% endblock %}
{% block header %} {% endblock %}
{% block content %}
{% load user_filters %}
<main role='main' class='container'>
  <div class='row'>
    <!-- Левый вспомогательный блок -->
    <div class='col-md-4 mb-3 mt-1'>
      <div class='card'>
        <div class='card-body text-center'>
          <ul class='list-group list-group-flush'>
            <li class='list-group-item'>
              <div class='h3'>
                Технологии
              </div>
            </li>
            <li class='list-group-item'>
              <div class='h6 text-muted'>
                Здесь Вы узнаете, с помощью каких инструментов писался данный проект
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class='col-md-8'>
      <div class='card-body'>
        <div class='card-text'>
          <p>Очень не хочется писать про инструментарий, предоставляемый программным обеспечением. Все равно не скажу лучше,
            чем уже написано в сети. Да и хвалить поисковик и тематические форумы не вижу смысла, хоть без этого всего не
            было бы проекта, конечно)
          </p>
          <p>
            скорее, хочется отметить для себя потрясающую успокаивающую способность домашних животных. когда долгое время
            бьешься с непонятным вопросом, это выбивает из колеи. а когда нет душевного равновесия, работа не может быть
            сделана эффективно и правильно. на помощь спешат пушистые) и задание сразу становится легче.
          </p>
          <p>
            поскольку основную работу по ремонту кофемашин никто не отменял, учиться приходится в свободные минуты. а это
            чаще всего ночь. не заснуть очень помогает выпитая вечером чашка кофе, заваренная в френч-прессе со взбитым
            холодным молоком.
          </p>
          <p>
            иногда во время работы над проектом приходилось сталкиваться с примерами решения тех или иных задач, которые
            необходимо было приспособить. и было совершенно непонятно, как применить ту или иную функцию. в такие моменты
            нужно было сделать что-то максимально далекое от написания кода: поменять ламинат в детской или подстричь
            кролику зубы. и во время этих увлекательнейших занятий приходит озарение. видимо, это и называется бубном)
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
